@model IEnumerable<Kaucja.Models.RecipientPaymentListModel>

<table class="table table-bordered table-hover table-responsive table-striped d-md-table">
    <thead>
        <tr class="text-center">
            <th>
                Nazwa odbiorcy
            </th>
            <th>
                Tytuł przelewu
            </th>
            <th>
                Numer konta
            </th>
            <th>
                Waluta
            </th>
            <th>
                Kwota
            </th>
            <th>
                Data
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table">
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.RecipientName)
            </td>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.PaymentTitle)
            </td>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ModyficationDate)
            </td>
        </tr>
        }
    </tbody>
</table>