@model Kaucja.Models.PaymentModel

<div class="card border-0">
    <div class="card-body">
        <h4 class="card-title">Dane do przelewu:</h4>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label font-weight-bold">Tytuł:</label>
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label font-weight-bold">Nr konta:</label>
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-danger text-center"><strong>PAMIĘTAJ!</strong> Skopiuj dokładnie taki sam tytuł przelewu!</div>
            </div>
        </div>
        <h4 class="card-title">Odbiorca:</h4>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label font-weight-bold">Nazwa:</label>
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Company, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label font-weight-bold">NIP:</label>
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.NIP, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label font-weight-bold">Regon:</label>
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.REGON, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label font-weight-bold">KRS:</label>
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.KRS, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label font-weight-bold">Ulica:</label>
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Street, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label font-weight-bold">Miejscowość:</label>
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.City, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>
    </div>
</div>