@model IEnumerable<Kaucja.Models.TransactionModel>

<p>
    <a asp-action="Create" asp-controller="Transaction">Dodaj</a>
</p>
<table class="table table-bordered table-hover table-responsive table-striped d-md-table">
    <thead>
        <tr class="text-center">
            <th>
                Lp
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Wykonawca
            </th>
            <th>
                Waluta
            </th>
            <th>
                Od
            </th>
            <th>
                Do
            </th>
            <th>
                Kwota
            </th>
            <th>
                Wpłata
            </th>
            <th>
                Opis
            </th>
            <th>
                Status
            </th>
            <th>
                Pobierz dokument
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status == "TS")
            {
                <tr>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Lp)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Contractor)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    @if (item.Payment < item.Amount)
                    {
                        <td class="text-right table-danger">
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td class="text-right table-danger">
                            @Html.DisplayFor(modelItem => item.Payment)
                        </td>
                    }
                    else
                    {
                        <td class="text-right table-success">
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td class="text-right table-success">
                            @Html.DisplayFor(modelItem => item.Payment)
                        </td>

                    }
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-center">
                        <a href="Payment/@item.Id" title="Opłać usługę depozytową."><i class="fa fa-credit-card" style="font-size: 20px;" aria-hidden="true"></i></a>
                    </td>
                    <td class="text-center">
                        Brak dokumentów
                    </td>
                </tr>
            }
            else if (item.Status == "TP")
            {
                <tr>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Lp)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Contractor)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    <td class="text-right table-success">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td class="text-right table-success">
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @if (item.Payment >= item.Amount)
                    {
                        <td class="text-center">
                            <a href="Details/@item.Id"><img src="~/Images/accept.svg" title="Zaakceptuj umowę." /></a>
                        </td>
                    }
                    else
                    {
                        <td class="text-center">
                            <img class="inProgress" src="~/Images/inProgress.svg" title="Umowa nie jest jeszcze opłacona ani efekt realizacji zaakceptowany." />
                        </td>
                    }
                    <td class="text-center">
                        Brak dokumentów do pobrania
                    </td>
                </tr>
            }
            else if (item.Status == "TC")
            {
                <tr>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Lp)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Contractor)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    <td class="text-right table-success">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td class="text-right table-success">
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-center">
                        <img src="~/Images/complete.svg" title="Transakcja jest opłacona oraz jej rezultat jest zaakceptowany."/>
                    </td>
                    <td class="text-center">
                        <img src="~/Images/document.svg" style="cursor: pointer;" onclick="generatePdf(@item.Id)" tooltip ="Pobierz dokument z podsumowaniem usługi depozytowej" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<h5>Legenda</h5>
<p>
    <i class="fa fa-credit-card" style="font-size: 20px;" aria-hidden="true"></i> - Opłać usługę depozytową.
</p>
<p>
    <img src="~/Images/accept.svg" /> - zaakceptuj realizację umowy.
</p>
<p>
    <img class="inProgress" src="~/Images/inProgress.svg" /> - Umowa nie jest jeszcze opłacona ani efekt realizacji zaakceptowany.
</p>
<p>
    <img src="~/Images/complete.svg" /> - Transakcja jest opłacona oraz jej rezultat jest zaakceptowany. Możesz pobrać dokument podsumowujący usługę depozytową.
</p>
<p>
    <img src="~/Images/document.svg" /> - Pobierz dokument PDF z podsumowaniem usługi depozytowej.
</p>
<div id="generatingPDF" class="d-none text-center p-2">
    Generowanie PDF...
</div>