@model IEnumerable<Kaucja.Models.TransactionModel>

<p>
    <a asp-action="Create" asp-controller="Transaction">Dodaj</a>
</p>
<table class="table table-bordered table-hover table-responsive table-striped d-md-table">
    <thead>
        <tr class="text-center">
            <th>
                Lp
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Zleceniodawca
            </th>
            <th>
                Waluta
            </th>
            <th>
                Od
            </th>
            <th>
                Do
            </th>
            <th>
                Kwota
            </th>
            <th>
                Wpłata
            </th>
            <th>
                Opis
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status == "TS" || item.Status == "TP")
            {
                <tr>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Lp)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    @if (item.Payment < item.Amount)
                    {
                        <td class="text-right table-danger">
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td class="text-right table-danger">
                            @Html.DisplayFor(modelItem => item.Payment)
                        </td>
                    }
                    else
                    {
                        <td class="text-right table-success">
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td class="text-right table-success">
                            @Html.DisplayFor(modelItem => item.Payment)
                        </td>
                    }
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-center">
                        <img class="inProgress" src="~/Images/inProgress.svg" />
                    </td>
                </tr>
            }
            @*else if (item.Status == "TP")
            {
                <tr>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Lp)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    <td class="text-right table-success">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td class="text-right table-success">
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @if (item.Payment >= item.Amount)
                    {
                        <td class="text-center">
                            <a href="Details/@item.Id"><img src="~/Images/accept.svg" /></a>
                        </td>
                    }
                    else
                    {
                        <td class="text-center">
                            <img class="inProgress" src="~/Images/inProgress.svg" />
                        </td>
                    }
                </tr>
            }*@
            else if (item.Status == "TC")
            {
                <tr class="table-success">
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Lp)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-center">
                        <img src="~/Images/complete.svg" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>